{% extends "ose/base_ose.html" %}
{% block title %}
Old School Essentials Monster {{ monster.name }}
{% endblock %}
{% block content %}


<div class="card">
  <div class="card-body">
    <h1 class="card-title">{{ monster.name }}</h1>
    <h6 class="card-subtitle mb-2 text-muted">{{ monster.description }}</h6>
    <p class="card-text"><b>AC</b>{{monster.ac}}, <b>HD</b>{{monster.hit_dice}},
      <br>
      <b>Att</b> {{monster.attacks}},
      <b>THACO</b> {{monster.thac0}},
      <br>
      <b>MV</b> {{monster.movement}}, <b>SV</b> {{monster.saving_throws}},
      <br>
      <b>ML</b> {{monster.morale}}, <b>AL</b> {{monster.alignment}},
      <b>XP</b> {{monster.xp}}, <b>NA</b> {{monster.number_appearing}},
    {% if monster.treasure_type %}<b>TT</b>
    <a class="card-link" href="{% url 'ose:hoard_result' 'type_'|add:monster.treasure_type|lower %}">{{ monster.treasure_type}}</a>
    {% endif %}
  </p>
  {% if monster.extra_info != 'None' %}
  <p>{{ monster.extra_info|safe }}</p>
  <p>Source: {{ monster.source }}</p>
  {% endif %}

  </div>
</div>




{% endblock %}
