{% extends "into_the_odd/base_ito.html" %}

{% block title %}
Into the Odd Character Generator
{% endblock %}

{% block content %}

<h1>Player Character and 2 Companions</h1>

<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h2>Player Character</h2>

      <div class="card mt-2 mb-2" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{character.name}}</h5>

          <p>{{character.gender}} {{type}}</p>
          <div class="row">
            <h6>Stats</h6>
            <p>STR {{character.STR}}, DEX {{character.DEX}}, WIL {{character.WIL}}, {{character.HP}} HP</p>
            <h6>Starting gear</h6>
            <ul class="">
            {% for item in character.starter_package %}<li class="list-group-item">{{item|safe}}</li>{% endfor %}
            </ul>
          </div><!-- row-->
        </div><!--card-body-->
      </div><!--card-->
    </div><!--col-sm-->
    {% for companion in companions %}
    <div class="col">

      <h2>Companion</h2>

      <div class="card mt-2 mb-2" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{companion.name}}</h5>

          <p>{{companion.gender}} {{type}}</p>
          <div class="row">
            <h6>Stats</h6>
            <p>STR {{companion.STR}}, DEX {{companion.DEX}}, WIL {{companion.WIL}}, {{companion.HP}} HP</p>
            <h6>Starting gear</h6>
            <p>{{companion.starter_package}}</p>

          </div><!-- row-->
        </div><!--card-body-->
      </div><!--card-->
    </div><!--col-sm-->
    {% endfor %}
  </div><!--row-->
</div><!--container-->

{% endblock %}
