{% extends "into_the_odd/base_ito.html" %}

{% block title %}
Into the Odd Character Generator
{% endblock %}

{% block content %}

<h1>Into the Odd Character {{type}} Generator</h1>

<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h2>Player Character</h2>

      <div class="card mt-2 mb-2" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{character.name}}</h5>

          <p><em>{{character.gender}} {{type}} {{character.unhuman_type}}</em></p>
          <p>STR {{character.STR}}, DEX {{character.DEX}}, WIL {{character.WIL}}, {{character.HP}} HP</p>
          <h6><b>Starting gear / ability</b></h6>
          <ul class="">
          {% for item in character.starter_package %}<li>{{item|safe}}</li>{% endfor %}
          </ul>
          {% if character.human_perception %}
          <h5>What Humans think of your people</h5>
          <p>{{character.human_perception}}</p>
          {% endif %}
        </div><!--card-body-->
      </div><!--card-->
    </div><!--col-sm-->
    {% for companion in companions %}
    <div class="col">

      <h2>Companion</h2>

      <div class="card mt-2 mb-2" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{companion.name}}</h5>
          <p><em>{{companion.gender}} {{type}}</em></p>
          <p>STR {{companion.STR}}, DEX {{companion.DEX}}, WIL {{companion.WIL}}, {{companion.HP}} HP</p>
          <h6>Starting gear</h6>
          <p>{{companion.starter_package}}</p>

        </div><!--card-body-->
      </div><!--card-->
    </div><!--col-sm-->
    {% endfor %}
  </div><!--row-->
</div><!--container-->

{% endblock %}
