{% extends "into_the_odd/base_ito.html" %}

{% block title %}
Unhuman Character Generator
{% endblock %}

{% block content %}

<h1>Unhuman Character</h1>

<div class="card mt-2 mb-2">
  <div class="card-body">
    <h5 class="card-title">{{character.name}}</h5>

    <p>{{character.gender}} {{character.unhuman_type}}</p>
    <div class="row">
      <h6>Stats</h6>
      <p>STR {{character.STR}}, DEX {{character.DEX}}, WIL {{character.WIL}}, {{character.HP}} HP</p>
      <h6>Starting gear</h6>
      <ul class="">
      {% for item in character.starter_package %}<li class="list-group-item">{{item|safe}}</li>{% endfor %}
      </ul>
      <h6>What Humans think of your people</h6>
      <p>{{character.human_perception}}</p>
    </div><!-- row-->
  </div><!--card-body-->
</div><!--card-->

{% endblock %}
