{% extends "into_the_odd/base_ito.html" %}

{% block title %}
3 Lackeys
{% endblock %}

{% block content %}

<h1>3 lackeys</h1>

<div class="container">
  <div class="row">
{% for companion in lackeys %}

    <div class="col-sm">

        <div class="card mt-2 mb-2" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{companion.name}}</h5>

            <p>{{companion.gender}} {{type}}</p>
            <div class="row">
              <h6>Stats</h6>
              <p>STR {{companion.STR}}, DEX {{companion.DEX}}, WIL {{companion.WIL}}, {{companion.HP}} HP</p>
              <h6>Starting gear</h6>
              <p>{{companion.starter_package}}</p>

            </div><!-- row-->
          </div><!--card-body-->
        </div><!--card-->
    </div>
  {% endfor %}

  </div>
</div>







{% endblock %}
