{% extends "into_the_odd/base_ito.html" %}

{% block title %}
3 Lackeys
{% endblock %}

{% block content %}

<h1>3 lackeys</h1>


{% for companion in lackeys %}

<div class="card mb-2">
  <div class="card-body">
    <h5 class="card-title">{{companion.name}}</h5>
    <p>{{companion.gender}} {{type}}</p>
    <div class="row">
        <div class="col">
            <table class="table">
            <tr>
                <th>STR</th>
                <th>DEX</th>
                <th>WIL</th>
                <th>HP</th>
            </tr>
            <tr>
                <td>{{companion.STR}}</td>
                <td>{{companion.DEX}}</td>
                <td>{{companion.WIL}}</td>
                <td>{{companion.HP}}</td>
            </tr>
            </table>

        </div>
        <div class="col">
            <table class="table">

                    <tr>
                        <th>Starting gear</th>
                    </tr>
                    <tr>
                        <td>
                            <p>

                                {{companion.starter_package}}

                            </p>
                        </td>
                    </tr>
            </table>
        </div><!--col-->
    </div><!-- row-->
  </div>
</div>
{% endfor %}

{% endblock %}
