{% extends "into_the_odd/base_ito.html" %}

{% block title %}
Mutant Character Generator
{% endblock %}

{% block content %}
<h1>Mutant Character Generator</h1>
<div class="card mt-2 mb-2" style="width: 36rem;">
  <div class="card-body">
    <h5 class="card-title">{{character.name}}</h5>

    <p><em>{{character.gender}} {{type}}</em></p>
    <p>STR {{character.STR}}, DEX {{character.DEX}}, WIL {{character.WIL}}, {{character.HP}} HP</p>
    <h6>Starting gear</h6>
    <ul>
    {% for item in character.starter_package %}<li>{{item|safe}}</li>{% endfor %}
    </ul>
  </div><!--card-body-->
</div><!--card-->
{% endblock %}
