{% extends "liminal_horror/base_liminal_horror.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Liminal Horror - Fallout{% endblock title %}
{% block content %}
<h1>A Liminal Horror Optional Character Details</h1>

<h2>Style</h2>

<p>{{character_details.style}}.</p>

<h2>What was your first encounter with the unknown?</h2>
<p>
  {{character_details.the_abyss_stare_back}}
</p>
<h2>Ideology and Beliefs</h2>
<p>
  {{character_details.ideology_and_beliefs}}
</p>
<h2>Traits</h2>
<table class="table">
  <tr>
    <th>Physique</th>
    <td>{{character_details.physique}}</td>
  </tr>
  <tr>
    <th>Face</th>
    <td>{{character_details.face}}</td>
  </tr>
  <tr>
    <th>Speech</th>
    <td>{{character_details.speech}}</td>
  </tr>
  <tr>
    <th>Virtue</th>
    <td>{{character_details.virtue}}</td>
  </tr>
  <tr>
    <th>Flaw</th>
    <td>{{character_details.flaw}}</td>
  </tr>
  <tr>
    <th>Misfortune</th>
    <td>{{character_details.misfortune}}</td>
  </tr>
</table>

{% endblock content %}
