{% extends "liminal_horror/base_liminal_horror.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Liminal Horror - Fallout{% endblock title %}
{% block content %}
<h1>A Liminal Horror Fallout for {{module}}</h1>

{% crispy form form.helper %}

{% if module %}

<p>{{explaination|safe}}</p>


<div class="card mt-5">
  <div class="card-header">
    Fallout
  </div>
  <div class="card-body">
    <h5 class="card-title">{{fallout|safe}}</h5>
  </div>
</div>

{% endif %}

{% endblock content %}
