{% extends "liminal_horror/base_liminal_horror.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Liminal Horror - Character Gen{% endblock title %}
{% block content %}

<h1>A Liminal Horror Character for {{module}}</h1>
{% crispy form form.helper %}

<div class="card mt-2" style="width: 36em;">
  <div class="card-body">
    <h5 class="card-title">Archetype: {{char.archetype.name}}</h5>
    <p>{{char.archetype.description|safe}}</p>
    <div class="row">
      <p><b>STR:</b> {{char.STR}}, <b>DEX:</b> {{char.DEX}}, <b>CTRL:</b> {{char.CTRL}}</p>
      <p><b>HP:</b> {{char.HP}}, <b>Age:</b> {{char.age}}</p>
    </div>
    <div class="row">

            <h5 class="card-title">Starting gear</h5>
            <dl class="">
            {% for item in char.gear %}<dd>{{item|safe|title}}</dd>{% endfor %}
            </dl>

    </div><!-- row-->
  </div>
</div>

{% endblock content %}
