{% extends "liminal_horror/base_liminal_horror.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Liminal Horror - Wounds{% endblock title %}
{% block content %}

<h1>Wounds</h1>

<h2>DETERMINING SEVERITY</h2>




<p>When an Investigator receives a
  Wound, its specifics are determined
  by the Facilitator. Severity acts as a
  reference point, with Flesh Wounds
  being temporary, Minor and Major
  Injuries having lasting effects that
  require medical treatment/mitigation,
  and Lethal Wounds requiring
  immediate response. There are three
  ways to determine specifics of the
  Wound.</p>

<p>
  Use the following table to determine the
  location of damage/Wounds
<ul>
  <li>Use the narrative and rule on the
    Severity to choose the resulting
    Wound.</li>
  <li>Use the amount of Ability Score
    lost to determine Severity. Multiple
    instances should be cumulatively
    worse and take the total Ability
    Score loss from maximum when
    determining the new Wound.</li>
  <li>Roll d6 to determine the Severity of
    the Wound.</li>
</ul>

</p>


<h2>Location</h2>

<table class="table table-bordered table-sm table-hover">
  <thead class="thead-dark">
    <tr>
      <th>d12</th>
      <th>LOCATION</th>
    </tr>
  </thead>
  <tr>
    <td class="align-middle">01</td>
    <td class="align-middle">Head</td>
  </tr>
  <tr>
    <td class="align-middle">02</td>
    <td class="align-middle">Face</td>
  </tr>
  <tr>
    <td class="align-middle">03</td>
    <td class="align-middle">Throat</td>
  </tr>
  <tr>
    <td class="align-middle">04</td>
    <td class="align-middle">Chest</td>
  </tr>
  <tr>
    <td class="align-middle">05</td>
    <td class="align-middle">Back</td>
  </tr>
  <tr>
    <td class="align-middle">06</td>
    <td class="align-middle">Shoulder</td>
  </tr>
  <tr>
    <td class="align-middle">07</td>
    <td class="align-middle">Arm</td>
  </tr>
  <tr>
    <td class="align-middle">08</td>
    <td class="align-middle">Hands</td>
  </tr>
  <tr>
    <td class="align-middle">09</td>
    <td class="align-middle">Stomach</td>
  </tr>
  <tr>
    <td class="align-middle">10</td>
    <td class="align-middle">Leg</td>
  </tr>
  <tr>
    <td class="align-middle">11</td>
    <td class="align-middle">Knee</td>
  </tr>

  <tr>
    <td class="align-middle">12</td>
    <td class="align-middle">Foot</td>
  </tr>
</table>

<h2>Severity</h2>

<table class="table table-bordered table-sm table-hover">
  <thead class="thead-dark">
    <tr>
      <th></th>
      <th>SEVERITY</th>
      <th>GUNSHOT</th>
      <th>STABBING<br>SLASHING<br>BITING</th>
      <th>CRUSHING<br>BLUDGEONING</th>
      <th>BURNING</th>
      <th>GORE</th>
    </tr>
  </thead>
  <tr>
    <td class="align-middle">01</td>
    <td class="align-middle">Flesh Wounds</td>
    <td class="align-middle">Graze</td>
    <td class="align-middle">Shallow Cut</td>
    <td class="align-middle">Knocked Over</td>
    <td class="align-middle">Singed</td>
    <td class="align-middle">Retching</td>
  </tr>
  <tr>
    <td class="align-middle">02</td>
    <td class="align-middle" rowspan="4">Minor Injury</td>
    <td class="align-middle">Through-and-Through</td>
    <td class="align-middle">Cut or Laceration</td>
    <td class="align-middle">Massive Bruising</td>
    <td class="align-middle">Peeling</td>
    <td class="align-middle">Laceration (badass scar)</td>
  </tr>
  <tr>
    <td class="align-middle">03</td>

    <td class="align-middle">Bullets Remains Inside</td>
    <td class="align-middle">Stabbed</td>
    <td class="align-middle">Sprained (extremely)</td>
    <td class="align-middle">Blistering</td>
    <td class="align-middle">Mangled (fingers)</td>
  </tr>
  <tr>
    <td class="align-middle">04</td>
    <td class="align-middle">Bone Fracture (extremity)</td>
    <td class="align-middle">Slashed (face/ loss of ear)</td>
    <td class="align-middle">Concussion / Dazed</td>
    <td class="align-middle">Large Burn</td>
    <td class="align-middle">Flayed (partially)</td>
  </tr>
  <tr>
    <td class="align-middle">05</td>
    <td class="align-middle">Internal Bleeding</td>
    <td class="align-middle">Severed (fingers)</td>
    <td class="align-middle">Dislocated Shoulder</td>
    <td class="align-middle">3rd Degree Burns</td>
    <td class="align-middle">Severed (Hand or foot)</td>
  </tr>
  <tr>
    <td class="align-middle">06</td>
    <td class="align-middle" rowspan="2">Major Injury</td>
    <td class="align-middle">Bone Fracture (chest)</td>
    <td class="align-middle">Severed (Hand)</td>
    <td class="align-middle">Broken (collar bone)</td>
    <td class="align-middle">Still on Fire (extremity)</td>
    <td class="align-middle">Severed (limb)</td>
  </tr>
  <tr>
    <td class="align-middle">07</td>
    <td class="align-middle">Gushing Artery</td>
    <td class="align-middle">Severed (limb)</td>
    <td class="align-middle">Broken (Arm, leg, hand)</td>
    <td class="align-middle">Flesh Sloughed Off</td>
    <td class="align-middle">Impaled</td>
  </tr>
  <tr>
    <td class="align-middle">08</td>
    <td class="align-middle">Lethal Wounds</td>
    <td class="align-middle">Massive Hole</td>
    <td class="align-middle">Throat Slit</td>
    <td class="align-middle">Split Open (Skull)</td>
    <td class="align-middle">Engulfed</td>
    <td class="align-middle">Disemboweled</td>
  </tr>
</table>



{% endblock content %}
