{% extends "tor/base_tor.html" %}
{% load crispy_forms_tags %}

{% block title %}
The One Ring - Action Resolution
{% endblock %}

{% block content %}
<h1>The One Ring - Action Resolution</h1>



<div class="container mt-5">
  <div class="row">
    <div class="col">
      <div class="card mt-2">
        <div class="card-body">
          <h5 class="card-title">Set up your roll</h5>
          <p class="card-text">{% crispy form form.helper %}</p>
        </div>
      </div>
    </div>
    <div class="col">
    {% if roll_done %}
      <div class="card mt-2">
        <div class="card-header">
          Roll Result
        </div>
        <div class="card-body">
          <h5 class="card-title">
          {% if tn_met %}
          You passed! ✅
          {% else %}
          You failed! ❌
          {% endif %}
          </h5>
          <table class="table table-sm table-borderless">
            <thead>
              <tr>
                <th scope="col">Feat Dice</th>
                <th scope="col">Sucess Dice</th>
                <th scope="col">Total</th>
                {% if tn_met %}
                <th scope="col">Successes</th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <button type="button" class="btn btn-primary">{{feat_dice.0}}</button>
                  {% if feat_dice.1 %}
                  <button type="button" class="btn btn-secondary">{{feat_dice.1}}</button>
                  {% endif %}
                </td>
                <td>
                  {% for d in success_dice %}
                  {% if not weary %}
                  <button type="button" class="btn btn-success">{{d}}</button>
                  {% else %}
                    {% if d.value > 3 %}
                    <button type="button" class="btn btn-success">{{d}}</button>
                    {% else %}
                    <button type="button" class="btn btn-secondary">{{d}}</button>
                    {% endif %}
                  {% endif %}
                  {% endfor %}
                </td>
                <td>{{total}}</td>
                {% if tn_met %}
                <td>{{successes}}</td>
                {% endif %}
              </tr>
              <tr>
                <!--Explanations-->
                <td colspan="4">
                  {% if favoured or ill_favoured or miserable or weary or gandalf or eye %}
                  <h6 class="card-title mt-5">Explanations</h6>
                  {% endif %}
                  {% if favoured and not ill_favoured %}<p><em>Favoured: the best Feat Die counts.</em></p>{% endif %}
                  {% if ill_favoured and not favoured %}<p><em>Ill-favoured: the worst Feat Die counts.</em></p>{% endif %}
                  {% if ill_favoured and favoured %}<p><em>Favoured and Ill-favoured counteract each other.</em></p>{% endif %}
                  {% if eye and miserable %}
                  <p><em>Miserable: you automatically fail a roll if Feat Die is an Eye.</em></p>
                  {% endif %}
                  {% if gandalf %}
                  <p><em>Gandalf Rune: you automatically succeed.</em></p>
                  {% endif %}
                  {% if weary %}<p><em>Weary: only Success Dice 4 and above count.</em></p>{% endif %}
                  {% if successes %}
                  <p><em>Successes: 1 for the passed roll + each Success Die landing on 6.</em></p>
                  {% endif %}
              </tr>
                </td>

            </tbody>
          </table>
        </div>
      </div>
      {% endif %}

    </div>
  </div>
</div>

{% endblock content%}
