{% extends "tor/base_tor.html" %}
{% load crispy_forms_tags %}

{% block title %}
The One Ring - Strider Mode - Journey Roll
{% endblock %}

{% block content %}
<h1>The One Ring - Strider Mode - Journey Roll</h1>

<div class="container mt-5">
  <div class="card mt-2">
    <div class="card-body">
      <h5 class="card-title">Set up your roll</h5>
      <p class="card-text">{% crispy form form.helper %}</p>
    </div>
  </div>

{% if roll_done %}
  <div class="card mt-2">
    <div class="card-header">
      Roll Result
    </div>
    <div class="card-body">
      <h5 class="card-title">Event Roll Result</h5>
      <table class="table table-borderless">
        <tr>
          <th style="width: 9rem;">Feat Die</th><td><button type="button" class="btn btn-primary">{{dice.0}}</button>
            {% if dice.1 %}
          <button type="button" class="btn btn-secondary">{{dice.1}}</button>
            {% endif %}
        </td>
        </tr>
        <tr>
          <th>Event type</th><td>{{event.0|safe}}</td></tr>
        <tr>
          <th>Outcome</th><td>{{outcome|safe}}</td>
        </tr>
        <tr>
          <th>Consequences</th><td>{{event.1|safe}}</td>
        </tr>
        <tr></tr>
          <th>Fatigue gain</th><td>{{event.2|safe}}</td>
        </tr>
      </table>
    </div>
  </div>

{% endif %}
</div><!-- div container-->

{% endblock content%}
