{% extends "base_knave.html" %}{% load crispy_forms_tags %}
{% block title %}
Knave Character
{% endblock %}

{% block content %}
<h1>A Knave character</h1>

<div class="card" style="width: 40rem;">
  <div class="card-body">
    <h5 class="card-title">{{char.first_name|title}} {{char.last_name|title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">
        Formerly a {{char.careers.0}} and a {{char.careers.1}}.
    </h6>
    <p class="card-text"><b>Level: {{char.level}}</b></p>
    <p class="card-text"><b>HP: {{char.max_HP}}</b></p>
    <p class="card-text">
        <table class="table">
            <thead>
                <tr>
                    <th>STR</th>
                    <th>DEX</th>
                    <th>CON</th>
                    <th>WIS</th>
                    <th>INT</th>
                    <th>CHA</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ char.STR }}</td>
                    <td>{{ char.DEX }}</td>
                    <td>{{ char.CON }}</td>
                    <td>{{ char.WIS }}</td>
                    <td>{{ char.INT }}</td>
                    <td>{{ char.CHA }}</td>
                </tr>
            </tbody>
        </table>
    </p>
    <h6>Inventory</h6>
    <p class="card-text">{{char.inventory|length}} / {{char.max_slots}} slots used
        <ul>
            {% for item in char.inventory %}
            <li>{{ item }}</li>
            {% endfor %}
        </ul></p>

    <p class="card-text">You can add any of the following items that you can carry:
        <ul>
            <li>3d6×10 coins</li>
            <li>2 rations</li>
            <li>1.5m rope</li>
            <li>2 torches</li>
            <li>any armor pieces or weapons</li>
            <li>a quiver of 20 arrows.</li>
        </ul>
     </p>
        <h6>Level up</h6>
        {% if max_level_reached %}
        <p>Max level reached</p>
        {% else %}
         <details>
            <summary>Select 3 ability scores to raise by 1</summary>

        <form action="{% url 'knave_generators:level-up' %}" method="post">
            {% csrf_token %}
            {{ form|crispy }}

            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button class="btn btn-warning btn-lg" type="submit">Level Up</button>
                    </div>
                </div>
            </div>
        </form>
</details>
        {% endif %}
  </div>
</div>



{% endblock %}
