{% extends "knave_generators/base_knave.html" %}
{% block title %}
Knave Monsters- {{ monster.name|title }}
{% endblock %}
{% block content %}
<h1>{{ monster.name|title }}</h1>


  {% if monster.img_url %}<img class="card-img-top" src="{{ monster.img_url }}" alt="Card image cap">{% endif %}
  <div class="card-body">
    <table class="table">
        <tr>
            <th scope="col">LVL</th>
            <th scope="col">HP</th>
            <th scope="col">AC</th>
        </tr>
        <tr>
    <td>{{ monster.level }}</td>
    <td>{{ monster.hp }}</td>
    <td>{{ monster.ac }}</td>
        </tr>

        <tr>
            <th>Attacks</th>
            <th>Morale</th>
            <th>Number Appearing</th>
        </tr>
        <tr>
            <td>{{ monster.attacks }}</td>
            <td>{{ monster.morale }}</td>
            <td>{{ monster.number_appearing }}</td>
        </tr>
    </table>


   {% if monster.extra_info %}<p class="card-text">{{ monster.extra_info|safe }}</p>{% endif %}
    <a href="{% url 'knave_generators:monster_list' %}" class="text-dark"><< Return to the bestiary</a>
  </div>



{% endblock %}
