{% extends "knave_generators/base_knave.html" %}
{% block title %}
Knave Bestiary
{% endblock %}
{% block content %}

<h1>Monsters</h1>

<div class="row">
{% for monster in monster_list %}
<div class="card m-2" style="width: 18rem;">
  {% if monster.img_url %}<img class="card-img-top" src="{{ monster.img_url }}" alt="Card image cap">{% endif %}
  <div class="card-body">
    <h5 class="card-title">{{ monster.name|title }}</h5>
        <table class="table">
        <tr>
            <th scope="col">LVL</th>
            <th scope="col">HP</th>
            <th scope="col">AC</th>
        </tr>
        <tr>
    <td>{{ monster.level }}</td>
    <td>{{ monster.hp }}</td>
    <td>{{ monster.ac }}</td>
        </tr>
    </table>

    <a href="{% url 'knave_generators:monster_detail' monster.pk %}" class="text-dark">>> Details</a>
  </div>
</div>
{% endfor %}
</div>


{% endblock %}
