{% extends "mothership/base_mothership.html" %}
{% load static %}
{% block title %}Mothership - Wages of Sin - Bounties Board{% endblock title %}
{% block content %}
<h1>Bounties Board</h1>


{% regroup bounty_list by location as location_list %}

{% for location in location_list %}

<h2>Location: {{location.grouper}}</h2>

  {% for bounty in location.list %}
  <div class="card mt-5 mb-5">
    <h5 class="card-header"><a href="{% url 'mothership:bounty_detail' bounty.pk %}">{{bounty.target|title}}</a></h5>
    <div class="card-body">

      <ul class="list-unstyled">
      <li><em>{{bounty.advert}}</em></li>
      <li>Wanted: {{bounty.wanted}}. </li>
      <li>Reward: {{bounty.reward}}. Bonus: {{bounty.bonus}}</li>
      </ul>
      <a href="{% url 'mothership:bounty_detail' bounty.pk %}" class="btn btn-primary">Details</a>
    </div>
  </div>

</div>
  {% endfor %}
{% endfor %}
{% endblock content %}
