{% extends "mothership/base_mothership.html" %}
{% load static %}
{% block title %}Mothership - Wages of Sin - Bounty{% endblock title %}
{% block content %}



<div class="container">
  <div class="row">
    <div class="col-sm-8"> <!-- General info div -->
      <h1>Bounty for {{bounty.target|title}}</h1>
      <p><em>{{bounty.advert}}</em></p>
      <h2>Briefing</h2>
      <p>{{bounty.briefing|safe}}</p>
      {% if request.user.is_authenticated %}
      <h2>Warden Info</h2>
      <p>{{bounty.warden_info|safe}}</p>
      {% endif %}
    </div> <!--General info div-->
    <div class="col-sm-4"><!-- details div -->
      <ul class="list-unstyled mt-5">
        <li><b>Target: {{bounty.target}}</b></li>
        <li>Bounty Level: {{bounty.bounty_level}}</li>
        <li>Crime: {{bounty.crime}}</li>
        <li>Wanted: {{bounty.wanted}}</li>
        <li>Client: {{bounty.client}}</li>
        <li>Reward: {{bounty.reward}}</li>
        <li>Bonus: {{bounty.bonus}}</li>
        <li>Known associates: {{bounty.known_associates}}</li>
      </ul>
      <ul class="list-unstyled">
        <li><b>Locations</b></li>
        <li>General location: {{bounty.location|title}}</li>
        <li>Point of collection: {{bounty.point_of_collection}}</li>
        <li>Last known location: {{bounty.last_known_location}}</li>
      </ul>
    </div><!-- details div -->
  </div><!-- row-->
</div><!--container-->

{% endblock content %}
