{% extends "mothership/base_mothership.html" %}
{% load static %}
{% block title %}Mothership - Wages of Sin - Bounties Board{% endblock title %}
{% block content %}
<h1>Bounties Board</h1>

{% for bounty in bounty_list %}
<div class="card m-3">
  <h5 class="card-header"><a href="{% url 'mothership:bounty_detail' bounty.pk %}">{{bounty.target}} BL: {{bounty.bounty_level}}</a></h5>
  <div class="card-body">
    <p>Wanted: {{bounty.wanted}}</p>
    <p>Location: {{bounty.location}}</p>
    <p class="card-text"><em>{{bounty.advert}}</em></p>
    <p>Reward: {{bounty.reward}}</p>
    <p>Bonus: {{bounty.bonus}}</p>
    <p class="card-text">Client: {{bounty.client}}</p>
  </div>
</div>

{% endfor %}



{% endblock content %}
