{% extends "base_mausritter.html" %}
{% block title %}
Bestiaire Mausritter
{% endblock %}
{% block content %}
<h1>Bestiaire</h1>

<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>PV</th>
        <th>Armure</th>
        <th>FOR</th>
        <th>DEX</th>
        <th>VOL</th>
    </tr>

    {% for creature in creature_list %}
    <tr>
        <td>
            <a href="{% url 'mausritter:creature_detail' creature.pk %}">{{ creature.name }}</a>
        </td>
        <td>{{ creature.HP }}</td>
        <td>{% if creature.armor %}{{ creature.armor }}{% endif %}</td>
        <td>{{ creature.STR }}</td>
        <td>{{ creature.DEX }}</td>
        <td>{{ creature.WIL }}</td>
    </tr>





    {% endfor %}
</table>
{% endblock %}
