{% extends "mausritter/base_mausritter.html" %}

{% block content %}
<h1>Idées d'aventure</h1>


{% load static %}
<img src="{% static 'mausritter/adventure_site.png' %}" alt="chat au sommet d'une ville souris">

<h2>Aventure classique</h2>
<p><b>{{straight_seed.creature}}</b> vous approche.</p>
<p>Le problème : <b>{{straight_seed.problem}}</b></p>
<p>Mais attention : <b>{{straight_seed.complication}}</b>.
</p>

<br><br>

<h2>Aventure étrange</h2>
<p><b>{{mixed_seed.creature}}</b> vous approche.</p>
<p>Le problème : <b>{{mixed_seed.problem}}</b></p>
<p>Mais attention : <b>{{mixed_seed.complication}}</b>.
</p>

{% endblock %}
