{% extends "mausritter/base_mausritter.html" %}


{% block content %}
<h1>Une souris non joueuse</h1>


<div class="card" style="width: 36rem;">
  <div class="card-header">
    Une Souris non joueuse
  </div>
  <div class="card-body">
    <h5 class="card-title">{{npc.name}}</h5>
    <p class="card-text">
      Sa relation  avec une souris du groupe : <b>{{npc.relationship|lower}}</b>.
      </p>
      <p class="card-text">En la regardant, on remarque : <b>{{npc.appearance|lower}}</b> et son petit truc <b>{{npc.quirk|lower}}.</b></p>
      <p class="card-text">Son plus cher désir : <b>{{npc.wants|lower}}</b>.</p>
      <p class="card-text">Son rang : <b>{{npc.social_position}}</b>.</p>
      <p class="card-text">Elle exige pour son travail : <b>{{npc.payment}}</b>.</p>
      <p class="card-text">Née sous le signe <b>{{npc.sign}}</b>.</p>
      <p class="card-text">Son style : <b>{{npc.dispositions}}</b></p>

    <p class="card-text">
      <b>Inventaire</b></td>
        <ul>
          <li>{{npc.pips}} Pépins</li>
            {% for item in npc.inventory %}
            <li>{{item}}</li>
            {% endfor %}
            <li>Une arme au choix</li>
        </ul>
    </p>
  </div>
</div>

{% endblock %}
