{% extends "mausritter/base_mausritter.html" %}


{% block content %}


<div class="card" style="width: 36rem;">
  <div class="card-header">
    Une brave souris aventurière

  </div>
  <div class="card-body">
    <h5 class="card-title">{{pc.name}}</h5>
    <p class="card-text">
      Ancienne <b>{{pc.background|lower}}</b>, née sous le signe <b>{{pc.sign}}</b>, elle est <b>{{pc.disposition|lower}}</b>.<br/>
      Son pelage est <b>{{pc.fur|lower}}</b> et on remarque sur elle un détail : <b>{{pc.physical_trait|lower}}</b>.
    </p>
    <p class="card-text">
      <table class="table table-sm table-responsive-sm" style="width: 22rem;">
        <thead>
          <tr>
            <th scope="col">PV</th>
            <th scope="col">FOR</th>
            <th scope="col">DEX</th>
            <th scope="col">VOL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{pc.HP}}</td>
            <td>{{pc.STR}}</td>
            <td>{{pc.DEX}}</td>
            <td>{{pc.WIL}}</td>
          </tr>
        </tbody>
      </table>
    </p>
    <p class="card-text"></p>
    <p class="card-text">
      <b>Inventaire</b></td>
        <ul>
          <li>{{pc.pips}} Pépins</li>
            {% for item in pc.inventory %}
            <li>{{item}}</li>
            {% endfor %}
            <li>Une arme au choix</li>
        </ul>
    </p>
  </div>
</div>

{% endblock %}
