{% extends "mausritter/base_mausritter.html" %}
{% block title %}
Liste des Sorts Mausritter
{% endblock %}
{% block content %}
<h1>Sorts</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">2d8</th>
      <th scope="col">Sort</th>
      <th scope="col">Effet</th>
      <th scope="col">Recharge</th>
    </tr>
  </thead>
  <tbody>
    {% for spell in spells %}
    <tr>
      <td>{{forloop.counter|add:1}}</td>
      <th scope="row">{{spell.name}}</th>
      <td>{{spell.effect}}</td>
      <td>{{spell.recharge}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
