{% extends "base.html" %}{% load static %}

{% block title %}
Spellburn and Battlescars | Scars
{% endblock %}

{% block content %}
<h1>Scars</h1>

<img src="{% static 'characters/scar.png' %}" />
<p>If an attack takes you to exactly 0 HP, take a permanent Scar. Reference the total amount of Damage received with the
    table below:</p>
<table class="table table-striped">
    {% for dmg, scar in scars.items%}
    <tr>
        <td>{{dmg}}</td>
        <td>{{scar}}</td>
    </tr>
    {% endfor %}
</table>



{% endblock%}