{% extends "base_cairn.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Cairn 2e - Character Gen{% endblock title %}
{% block content %}
<h1>A Cairn 2e Character</h1>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{char.name}}, {{char.background}}</h5>
    <p>{{char.profile|safe}}</p>
    <div class="row">

            <table class="table">
            <tr>
                <th>STR</th>
                <th>DEX</th>
                <th>WIL</th>
                <th>HP</th>
                <th>Age</th>
            </tr>
            <tr>
                <td>{{char.STR}}</td>
                <td>{{char.DEX}}</td>
                <td>{{char.WIL}}</td>
                <td>{{char.HP}}</td>
                <td>{{char.age}}</td>
            </tr>
            </table>
      </div>
      <div class="row">

            <table class="table">
                <tr>
                  <td>
                    <p><b>{{char.dossier_name}}</b><br>
                    {{char.dossier_option|safe}}</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p><b>{{char.dossier_subpart_name}}</b><br>
                      {{char.dossier_subpart_option|safe}}</p>
                 </td>
                </tr>
                <tr>
                    <td><p><b>Bounds</b><br>
                      {{char.bound|safe}}</p>
                  </td>
                </tr>
                <tr>
                  <td><p><b>Omen (if youngest character in party)</b><br>
                    {{char.omen|safe}}</p>
                </td>
              </tr>
            </table>
      </div>
      <div class="row">
        <div class="col-6">
          <table class="table">
            <tr>
              <th>Starting gear</th>
            </tr>
            <tr><td>
              <ul>
              {% for item in char.gear %}<li>{{item|safe}}</li>{% endfor %}
              </ul></td>
            </tr>
          </table>
        </div>
        <div class="col-6">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" colspan="2">Traits</th>
                    </tr>
                </thead>
                {% for key, value in char.finishing_touches.items %}
                    <tr>
                        <th>{{key|title}}</th>
                        <td>{{value}}</td>
                    </tr>
                {% endfor %}
                </table>
                </div>

    </div><!-- row-->
  </div>
</div>

{% endblock content %}
