{% extends "base.html" %}
{% block title %}Torchbearer 2e{% endblock title %}
{% block subbar %}

<nav class="navbar navbar-expand-lg navbar-light">
  <!--new nav here-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="{% url 'torchbearer:index' %}">Torchbearer 2e</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Loot
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'torchbearer:loot_rules' %}">Loot Rules</a>
          <a class="dropdown-item" href="{% url 'torchbearer:loot_tables' %}">Loot Tables</a>
          <a class="dropdown-item" href="{% url 'torchbearer:loot_subtables' %}">Loot Subtables</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Rules
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">The Grind</a>
          <a class="dropdown-item" href="{% url 'torchbearer:camp_event_rules' %}">Camp Event Rules</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Procedures
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'torchbearer:camp_events' %}">Camp events</a>

        </div>
      </li>
    </ul>

  </div>
</nav>

{% endblock subbar %}
