{% extends "cloudempress/base_cloudempress.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Cloud Empress Byway{% endblock title %}
{% block content %}
<h1>A Cavern Byway</h1>



<div class="card mt-5">
  <h5 class="card-header">Byway</h5>
  <div class="card-body">
    <h5 class="card-title">{{ byway.environment }}</h5>
    <p class="card-text">Light source: {{byway.illumination}}</p>
  </div>
</div>

{% if byway.alternate_environment %}

<h3 class="mt-5">If the environment is a repeat, use this one instead.</h3>

<div class="card">
  <h5 class="card-header">Alternate Byway</h5>
  <div class="card-body">
    <h5 class="card-title">{{byway.alternate_environment}}</h5>
    <p class="card-text">Light source: {{byway.illumination}}</p>
  </div>
</div>
{% endif %}
{% endblock content %}
