{% extends "vaarn/base_vaarn.html" %}
{% block title %}Vaarn - Bloomboons{% endblock title %}
{% block content %}

<h1>Bloomboons</h1>

<p><em>highlighted row: randomly rolled entry</em></p>

<table class="table">
  <tr>
    <th>D20</th>
    <th>bloomboon</th>

    <th>Effect</th>
  </tr>
  {% for bloomboon in bloomboons %}
  {% if r == forloop.counter %}
  <tr class="table-primary">
    {% else %}
  <tr>
    {% endif %}
    <td>{{forloop.counter}}</td>
    <td>{{bloomboon.name}}</td>

    <td>{{bloomboon.effect|safe}}</td>
  </tr>
  {% endfor %}
</table>

{% endblock content%}
