{% extends "vaarn/base_vaarn.html" %}

{% block content %}
<h1>Vaults of Vaarn Randomizer</h1>
{% load static %}

<br><br>


<p>This web tool is a series of randomizers and tables from the game <a href="https://vaultsofvaarn.com/"
    target="_blank">Vaults of Vaarn</a>, created by Leo Hunt.</p>


<p>You can preorder the Second Edition on <a
    href="https://vaults-of-vaarn-second-edition.backerkit.com/hosted_preorders">backerkit</a>.</p>


<img src="{% static 'vaarn/vov hardback mockup marbled_large.jpg' %}" class="img-fluid"
  alt="Vaults of Vaarn Second Edition mockup cover" />

<br><br>
<p>This tool is provided as is and was elaborated based on a preview PDF. There might be mistakes and things could
  change in the final release.</p>
{% endblock %}
