{% extends "vaarn/base_vaarn.html" %}
{% block title %}Vaarn - Random NPC{% endblock title %}
{% block content %}

<h1>A random Vaarn NPC</h1>

<br><br>


<div class="card">
  <div class="card-body">

    <h5 class="card-title">{{npc.name}}, {{npc.ancestry}} {{npc.career_name}}</h5>
    <ul>
      <li>{{npc.manner}} manner</li>
      <li>Voice: {{npc.voice}}</li>
      <li>Drive: {{npc.drive}}</li>
      <li>Bond: {{npc.bond}}</li>
      <li>Faith: {{npc.faith}}</li>
      <li>Reputation: {{npc.faction_reputation}}</li>
      <li>Items: {{npc.items}}</li>
    </ul>
  </div>
</div>



{% endblock content%}
