{% extends "vaarn/base_vaarn.html" %}
{% block title %}Vaarn - Settlement{% endblock title %}
{% block content %}

<h1>A random Vaarn Settlement</h1>

<br><br>
<table class="table table-striped">

  <tr>
    <th>Size</th>
    <td>{{settlement.size}}</td>
  </tr>
  <tr>
    <th>Water Source</th>
    <td>{{settlement.water_source}}, but {{settlement.water_source_complication}}</td>
  </tr>
  <tr>
    <th>Majority Population</th>
    <td>{{settlement.majority_population}}</td>
  </tr>
  <tr>
    <th>Minority population</th>
    <td>{{settlement.minority_population}}</td>
  </tr>
  <tr>
    <th>Location</th>
    <td>{{settlement.location}}</td>
  </tr>
  <tr>
    <th>Houses</th>
    <td>{{settlement.houses}}</td>
  </tr>
  <tr>
    <th>Local Landmark</th>
    <td>{{settlement.local_landmark}}</td>
  </tr>
  <tr>
    <th>Government</th>
    <td>{{settlement.gov1}} {{settlement.gov2}}<br><em>{{settlement.gov2}}: {{settlement.government_definition}}</em>
    </td>
  </tr>
  <tr>
    <th>Industry</th>
    <td>{{settlement.industry}}</td>
  </tr>
  <tr>
    <th>Dominant Faith</th>
    <td>{{settlement.dominant_faith}}</td>
  </tr>

</table>


<div class="row mt-2 mb-2">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{settlement.asset.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Asset</h6>
      <p class="card-text">{{settlement.asset.description}}</p>
    </div>
  </div>
</div>


<div class="row mt-2 mb-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{settlement.problem.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Problem</h6>
      <p class="card-text">{{settlement.problem.description}}</p>
    </div>
  </div>
</div>

<h3>Buildings</h3>
<div class="row mt-2 mb-2">
  {% for building in settlement.buildings %}
  <div class="card m-2" style="width: 22em;">
    <div class="card-body">
      <h5 class="card-title">{{building.building_type}}</h5>
      <h6 class="card-title">NPC: {{building.npc.name}}, {{building.npc.ancestry}} {{building.npc.career_name}}</h6>
      <ul>
        <li>{{building.npc.manner}} manner</li>
        <li>Voice: {{building.npc.voice}}</li>
        <li>Drive: {{building.npc.drive}}</li>
        <li>Bond: {{building.npc.bond}}</li>
        <li>Faith: {{building.npc.faith}}</li>
        <li>Reputation: {{building.npc.faction_reputation}}</li>
        <li>Items: {{building.npc.items}}</li>
      </ul>
    </div>
  </div>
  {% endfor %}

</div>




{% endblock content%}
