{% extends "grimwild/base_grimwild.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Grimwild{% endblock title %}
{% block content %}
<h1>Welcome to the Grimwild Roll Pool</h1>

<p>Grimwild Roll Pool</p>

{% crispy form form.helper %}


{% if outcome > -1 %}
<h2>Results</h2>
<table class="table">
<tr>
  <td>Dice</td>
  <td>{% for d in dice_result %}
    {% if d < 4 %}
    <button type="button" class="btn btn-outline-danger">{{d}}</button>
    {% else %}
    <button type="button" class="btn btn-outline-success">{{d}}</button>
    {% endif %}
    {% endfor %}
  </td>
</tr>
<tr>
  <td>Dice remaining</td>
  <td>{{outcome}}</td>
</tr>
</table>
{% endif %}
{% endblock content %}
