{% extends "grimwild/base_grimwild.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Grimwild{% endblock title %}
{% block content %}
<h1>Welcome to the Grimwild Roll Tool</h1>

<p>Grimwild Roll Tool</p>

{% crispy form form.helper %}


{% if outcome %}
<h2>Results</h2>
<div class="table-responsive">
  <table class="table">
    <tr>
      <td>Dice</td>
      <td>{% for d in dice_result %}
        {% if d == 6 %}
         <button type="button" class="btn btn-outline-success">{{d}}</button>
        {% elif d > 3 %}
        <button type="button" class="btn btn-outline-warning">{{d}}</button>
        {% else %}
        <button type="button" class="btn btn-outline-danger">{{d}}</button>
        {% endif %}
        {% endfor %}
      </td>
    </tr>
  {% if thorns_result %}
    <tr>
      <td>Thorns</td>
      <td>{% for t in thorns_result %}
        {% if t >= 7 %}
        <button type="button" class="btn btn-outline-danger">{{t}}</button>

        {% else %}
        <button type="button" class="btn btn-outline-secondary">{{t}}</button>
        {% endif %}
        {% endfor %}
      </td>
    </tr>
  {% endif %}
    <tr>
      <td>Outcome</td>
      <td>{{outcome}}</td>
    </tr>
  </table>
</div>
{% endif %}
{% endblock content %}
